body{
    border: 0px solid black;
    width: 500px;
    height: 250px;
    position: relative;
    left: 530px;
    top: 200px;
    background-color: #e7e2e2;
    box-shadow: 0px 0px 30px white;
   
}
.container{
    background-color: white;
}
h1{
    text-align: center;
    color: green;
    position: relative;
    bottom: 20px;
   
}
img{
    width: 100px;
    height: 80px;
}
h1, img{
    display: inline-block;
    margin-bottom: -10px;
}
input{
    position: relative;
    left: 140px;
    width: 200px;
    height: 20px;
    padding: 10px;
}
input:nth-of-type(3){
    position: relative;
    left: -20px;
    top: 5px;
}
input::placeholder{
    text-align: center;
    font-size: 15px;
}
span{
    position: relative;
    left: -110px;
    bottom: 0px;
}
button{
    position: relative;
    left: 177px;
    bottom: 7px;
    width: 140px;
    height: 40px;
    background-color: green;
    border-radius: 7px;
}
a{
    position: relative;
    bottom: 25px;
    left: 200px;
    text-decoration: none;
    color: blue;
}
