
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
;


body{
    font-family: 'Montserrat',sans-serif;
    /* border: 0px solid black; */
    width: 650px;
    height: 250px;
    position: relative;
    left: 530px;
    top: 200px;
    background-color: #e7e2e2;
    box-shadow: 0px 0px 30px white;

    
   
}
.container{
    background-color: white;
    height: 300px;
    /* border-radius: 20px; */
}
h1{
    text-align: center;
    color: gray;
    position: relative;
    bottom: 20px;
   
}
img{
    width: 60px;
    height: 50px;
    border-radius: 20px;
    background-size: cover;
    object-fit: cover;
}
h1, img{
    display: inline-block;
    margin-bottom: -8px;
}
input{
    position: relative;
    left: 140px;
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 7px;
}
input:nth-of-type(3){
    position: relative;
    left: 90px;
    top: 5px;
}
input::placeholder{
    text-align: center;
    font-size: 15px;
}
span{
    position: relative;
    left: -5px;
    bottom: 0px;
}
button{
    position: relative;
    left: 140px;
    bottom: 7px;
    width: 220px;
    height: 40px;
    background-color: green;
    border-radius: 7px;
}
a{
    position: relative;
    bottom: 25px;
    left: 200px;
    text-decoration: none;
    color: blue;
}
.container2{
    position: relative;
    right: 100px;
}
button:nth-of-type(2){
    position: relative;
    top: 100px;
}
